
/* 盒子 */
#box{
     width:850px;
     height:850px;
     border:1px solid black;
     margin:0 auto;    
     position: relative;
}
/* 左侧模拟手机栏 */
#phone{
    width:320px;
    /* height:100%; */
    border: 1px solid black;
    margin:2px;
   
}
#header{
    width:320px;
    height:63px;
    background: black;
    display: flex;
}
#header div{
    color:white;
    flex: 1;
    line-height: 63px;
    font-weight: bold;
    font-size: 15px;
}
.back{
    text-align: left;
    padding-left: 5px;
}
.home{
    text-align: center;
}
#header .setting{
    text-align: right;
    padding-right:5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 63px;
}
.btn_top, .btn_down, .clear{
  position: absolute;
  width:20px;
  height:20px;
  background: blue;
  color:white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  display: none;
  z-index: 1000;
}
.btn_top{
  left: 50%;
  top:-10px;
  margin-left: -10px;
}
.btn_down{
  left: 50%;
  bottom:-10px;
   margin-left: -10px;
}
.clear{
  right:-10px;
  top:-10px;
  background: #ababab;
}

section{
  width: 100%;
  height: 100%;
}
.shops_group{
  width: 100%;
  height: 100%;
}
.box{
  width: 100%;
  height: 100%;
}
.shop_group_conponment{
  width: 320px;
  height: 100%; 
  position: relative;
  border-left: 1px dashed white;
  border-right: 1px dashed white;
  border-top: 1px solid white;
  border-bottom: 1px solid white; 
  border: hidden; 
}
.title_container{
  width: 320px;
  height: ;
  display: flex;
}
